@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background: url(https://c0.wallpaperflare.com/preview/71/961/288/blurred-background-coffee-cup-contemporary-creative.jpg);
  background-size: cover;
  background-color: rgba(173, 231, 224, 0.8);
  background-blend-mode: overlay;
}
